mixin boxTitle
  #perspective
    .myBox(
          data--0p-bottom="opacity: 1;"
          data--20p-bottom="transform: rotateX(-90deg) translate(0px, 0%);"
          data--50p-bottom="transform: rotateX(0deg) translate(0px, -100%);"
          data--100p-bottom="opacity: 0;"
          ) Side A
      .myBoxB
        span Side B