mixin menu
   svg#menu(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='-2 -2 504 504', style='transform-origin: 50% 50% 0px; transform: matrix3d(0.806195, 0.591651, 0, 0, -0.591651, 0.806195, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); touch-action: none; -webkit-user-select: none;')
      g#symbolsContainer
        symbol#icon-1.icon.icon-(viewbox='0 0 89 89')
          // Replace the contents of this symbol with the content of your icon
          //- rect(fill='none', stroke='#111', stroke-width='1', width='100%', height='100%')
          path#search(d='m 46.599,46.599 c -1.758,1.758 -4.605,1.758 -6.363,0 L 32.295,38.658 C 29.028,40.749 25.167,42 21,42 9.402,42 0,32.598 0,21 0,9.402 9.402,0 21,0 c 11.598,0 21,9.402 21,21 0,4.167 -1.251,8.028 -3.342,11.295 l 7.941,7.941 c 1.758,1.758 1.758,4.605 0,6.363 z M 21,6 C 12.717,6 6,12.714 6,21 6,29.286 12.717,36 21,36 29.286,36 36,29.286 36,21 36,12.714 29.286,6 21,6 z', inkscape:connector-curvature='0')
        symbol#icon-2.icon.icon-(viewbox='0 0 89 89')
          // Replace the contents of this symbol with the content of your icon
          path#cloud(d='m 0,27 c 0,-6.627 5.373,-12 12,-12 1.14,0 2.223,0.21 3.267,0.507 C 16.416,10.077 21.228,6 27,6 c 6.627,0 12,5.373 12,12 0,1.059 -0.183,2.067 -0.438,3.045 C 38.709,21.036 38.85,21 39,21 c 4.971,0 9,4.032 9,9 l 0,0 0,3 c 0,4.971 -4.029,9 -9,9 L 12,42 C 5.373,42 0,36.627 0,30 l 0,0 0,-3 z', inkscape:connector-curvature='0')
          //- rect(fill='none', stroke='#111', stroke-width='1', width='100%', height='100%')
          text(fill='#222', x='50%', y='50%', dy='.3em', text-anchor='middle', font-size='1.2em') 2
        symbol#icon-3.icon.icon-(viewbox='0 0 89 89')
          // Replace the contents of this symbol with the content of your icon
          //- rect(fill='none', stroke='#111', stroke-width='1', width='100%', height='100%')
          text(fill='#222', x='50%', y='50%', dy='.3em', text-anchor='middle', font-size='1.2em') 3
        symbol#icon-4.icon.icon-(viewbox='0 0 89 89')
          // Replace the contents of this symbol with the content of your icon
          //- rect(fill='none', stroke='#111', stroke-width='1', width='100%', height='100%')
          text(fill='#222', x='50%', y='50%', dy='.3em', text-anchor='middle', font-size='1.2em') 4
        symbol#icon-5.icon.icon-(viewbox='0 0 89 89')
          // Replace the contents of this symbol with the content of your icon
          //- rect(fill='none', stroke='#111', stroke-width='1', width='100%', height='100%')
          text(fill='#222', x='50%', y='50%', dy='.3em', text-anchor='middle', font-size='1.2em') 5
        symbol#icon-6.icon.icon-(viewbox='0 0 89 89')
          // Replace the contents of this symbol with the content of your icon
          //- rect(fill='none', stroke='#111', stroke-width='1', width='100%', height='100%')
          text(fill='#222', x='50%', y='50%', dy='.3em', text-anchor='middle', font-size='1.2em') 6
      g#itemsContainer
        a#item-1.item(role='link', tabindex='0', xlink:href=' ', xlink:title=' ', transform='matrix(1,0,0,1,0,0)', data-svg-origin='250 250', style='')
          path.sector(fill='none', stroke='#111', d='M330,250 l170,0 A250,250 0 0,0 375,33.49364905389035 l-85,147.22431864335456 A80,80 0 0,1 330,250')
          use(xlink:href='#icon-1', width='89', height='89', x='354.45635986328125', y='119.5', transform='rotate(60 398.95635986328125 164)')
        a#item-2.item(role='link', tabindex='0', xlink:href=' ', xlink:title=' ', transform='matrix(0.5,-0.86602,0.86602,0.5,-91.5063509461097,341.5063509461096)', data-svg-origin='250 250', style='')
          path.sector(fill='none', stroke='#111', d='M330,250 l170,0 A250,250 0 0,0 375,33.49364905389035 l-85,147.22431864335456 A80,80 0 0,1 330,250')
          use(xlink:href='#icon-2', width='89', height='89', x='354.45635986328125', y='119.5', transform='rotate(60 398.95635986328125 164)')
        a#item-3.item(role='link', tabindex='0', xlink:href=' ', xlink:title=' ', transform='matrix(-0.49999,-0.86602,0.86602,-0.49999,158.49364905389024,591.5063509461097)', data-svg-origin='250 250', style='')
          path.sector(fill='none', stroke='#111', d='M330,250 l170,0 A250,250 0 0,0 375,33.49364905389035 l-85,147.22431864335456 A80,80 0 0,1 330,250')
          use(xlink:href='#icon-3', width='89', height='89', x='354.45635986328125', y='119.5', transform='rotate(60 398.95635986328125 164)')
        a#item-4.item(role='link', tabindex='0', xlink:href=' ', xlink:title=' ', transform='matrix(-1,0,0,-1,500,500)', data-svg-origin='250 250', style='')
          path.sector(fill='none', stroke='#111', d='M330,250 l170,0 A250,250 0 0,0 375,33.49364905389035 l-85,147.22431864335456 A80,80 0 0,1 330,250')
          use(xlink:href='#icon-4', width='89', height='89', x='354.45635986328125', y='119.5', transform='rotate(60 398.95635986328125 164)')
        a#item-5.item(role='link', tabindex='0', xlink:href=' ', xlink:title=' ', transform='matrix(-0.5,0.86602,-0.86602,-0.5,591.5063509461097,158.4936490538905)', data-svg-origin='250 250', style='')
          path.sector(fill='none', stroke='#111', d='M330,250 l170,0 A250,250 0 0,0 375,33.49364905389035 l-85,147.22431864335456 A80,80 0 0,1 330,250')
          use(xlink:href='#icon-5', width='89', height='89', x='354.45635986328125', y='119.5', transform='rotate(60 398.95635986328125 164)')
        a#item-6.item(role='link', tabindex='0', xlink:href=' ', xlink:title=' ', transform='matrix(0.5,0.86602,-0.86602,0.5,341.5063509461096,-91.5063509461097)', data-svg-origin='250 250', style='')
          path.sector(fill='none', stroke='#111', d='M330,250 l170,0 A250,250 0 0,0 375,33.49364905389035 l-85,147.22431864335456 A80,80 0 0,1 330,250')
          use(xlink:href='#icon-6', width='89', height='89', x='354.45635986328125', y='119.5', transform='rotate(60 398.95635986328125 164)')
      g#trigger.trigger.menu-trigger(role='button')
        circle(cx='250', cy='250', r='20')
